<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>爱读书</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/index.css">
		<script style="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	</head>
	<base target="_blank"/>
	<body>
		<div class="doc">
			<header class="toolbar">
				<div class="wrap">
					<div class="top-nav-menu">
						<ul>
							<li>嗨, jacky, 您好</li>
							<li><a href="#" target="_self">分享您的图书</a></li>
							<li><a href="#" target="_self">管理中心</a></li>
							<li><a href="#" target="_self">疑难解答</a></li>
							<li><a href="#" target="_self">退出</a></li>
						</ul>
					</div>
					<div class="top-nav-info">共有<em>134</em>位同学，分享了<em>1234</em>本图书，本周新增图书<em>12</em>本</div>
				</div>
			</header>
			<header class="masthead">
				<div class="wrap">
					<div class="logo">
						<h1>
							<figure>
	                            <a target="_self" title="阿里读者" href="http://china.alibaba.com/">
	                                <img alt="阿里读者" src="../images/logo.png">
	                            </a>
	                            <figcaption class="hidden">阿里读者</figcaption>
	                        </figure>
						</h1>
					</div>
					<div class="search">
						<form action="./subject_search.html" method="get">
							<div class="search-input-container">
								<input class="search-input" placeholder="请输入书名" name="q" autocomplete="off"/>
							</div>
							<div class="search-button-container">
								<button type="submit">查询</button>
							</div>
						</form>
					</div>
				</div>
			</header>
			<div class="content">
				content
			</div>
			<footer class="">
			
			</footer>
		</div>
		<script>
			jQuery(function($){
				$('#welcome-bar a.close').click(function(e){
					e.preventDefault();
					$('#welcome-bar').animate({height:'0'});
				});
			});
		</script>
	</body>
</html>


