body {
  background: url("../images/bg_hd.gif") repeat-x scroll 0 0 transparent;
  font-family: "Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
.wrap:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.masthead{
    border-bottom: 1px solid #F8D575;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    color: #CCCCCC;
    min-height: 33px;
    height:33px;
}
.masthead .wrap{
	width:960px;
	margin:0 auto;
	line-height:33px;
	position:relative;
	color:#666;
}
.masthead .topmenu{
	float:right;
	width:180px;
}
.masthead .topmenu li{
	float: left;
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	line-height: 29px;
	padding-top:2px;
}
.masthead .topmenu a{
	font-size: 13px;
	padding: 0 10px;
	display: block;
	text-decoration: none;
	color: #DDD;
}
.masthead .topmenu a:hover{
	background-color: #99A;
	border-radius: 3px 3px 3px 3px;
}

.pagefooter{
	border-top:2px solid #EEE;
	height:300px;
	padding-top:12px;
}

.pagefooter .wrap{
	width:960px;
	margin:0 auto;
	text-align:center;
}
.pagefooter .wrap p{
	font-size:16px;
}